label {
    display: inline-block;
    margin: 10px;
  }

  h3 {
    text-align: center;
  }

  h6{
    text-align: center;
    color: rgba(110, 107, 107, 0.8);
    font-family: verdana;
  }

  h6:hover {
    color: #428bca;
    cursor: pointer;
  }

  @media screen and (max-width:300px)
  {label[for=email], label[for=password] {
    margin-top: 5%;
    margin-left: 60%;
  }
}

  input[type=text] {
    width: 50%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
    cursor: pointer;
  }

  input[type=text]:hover {
    border-color: #428bca;
  }

  input[type=password] {
    width: 50%;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 10px;
    cursor: pointer;
  }

 .btn button[type=submit] {
    float: right;
  }

.col-25 {
    float: left;
    width:30%;
    margin-top: 10px;
  }
  
  .col-75 {
    float: left;
    width: 70%;
    margin-top: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .forgot {
    text-align: center;
  } 

  @media screen and (max-width: 600px) {
    .col-25, .col-75, button[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }