
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="login">
  <form [formGroup] = "loginForm">
    <div class="container"><br><br><br>

      <h3>Welcome Back</h3><br>
      <h6>Don't miss your opportunity. Sign In and enjoy the programming</h6>
      <div class="row">
        <div class="col-25">
          <label for="email"><Strong>Email</Strong></label>
        </div>

        <div class="col-75">
          <input type="text" placeholder="Email" name="email" formControlName = "email" required>
        </div>
      </div>
      
      <div class="row">
        <div class="col-25">
          <label for="password"><Strong>Password</Strong></label>
      </div>

      <div class="col-75">
        <input type="password" placeholder="Password" name="password" formControlName = "password" required>
      </div>
    </div>

      <div class="btn">
        <button routerLink="/" type="submit" class="btn btn-primary" (click) = "loginUser()">Login</button><br><br>
      </div>

      <div class="forgot">
        <a href="forgot-password">Forgot Password?</a><br><br>
        <p>New User? <a href="signup">Join Now</a></p>
      </div>
    </div>
  </form>
</div>