<section class="menu">
  <nav>
    <ul>
      <li><button class="btn-primary" (click) = "goToTypes()">Topic</button></li>
     
      <li><button class="btn-primary" (click) = "goToQuestion()">All Questions</button></li>

      <li><button class="btn-warning" (click) = "addType()">Add Topic</button></li>

      <li><button class="btn-warning" (click) = "addQuestion()">Add Question</button></li>
    </ul>
  </nav>
</section>

<section class="container display">
    <div *ngIf = "loadTypeComponent">
        <app-type></app-type>
    </div>
    <div *ngIf = "loadQuestionComponent">
      <app-questions></app-questions>
    </div>
    <div *ngIf = "addTypeComponent">
        <app-add-type></app-add-type>
    </div>
    <div *ngIf = "addQueComponent">
        <app-add-que></app-add-que>
    </div>
</section>

<!-- <section class="admin-footer">
  <div>

  </div>
</section> -->


