  
 .menu nav {
    float: left;
    width: 20%;
    height: 100%; /* only for demonstration, should be removed */
    /* background: #ccc; */
    padding: 20px;
    /* border-right: 2px solid black; */
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
   
  }
  nav ul li{
      
      margin-top: 30px;
      width: 50px;  
  }
  nav ul li button{
      /* border: 1px solid red; */
      border: none;
      color: aliceblue;
      text-align: center;
      padding: 10px;
      width: 100px;
      /* background: purple; */
      cursor: pointer;
      border-radius: 10px;
  }
  .btn:active{
    background: orange;
  }
  .btn:focus{
    background: orange;
  }

  .menu{
    border-right: 2px solid black;
    height: 600px;
    width: 20%;
    float: left;
  }

  .allTypes{
    text-align: center;
  }
  nav ul{
    list-style-type: none;
  }
  nav ul li{
    padding: 10px;
  }

  
  
  
  
 
  
 