<section class="menu">
  <nav>
    <ul>
      <li><button class="btn-primary" (click) = "goToTypes()">Topics</button></li>
     
      

      <li><button class="btn-warning" (click) = "addType()">Questions</button></li>

    
    </ul>
  </nav>
</section>

<section class="allTypes">
  <nav>
    <ul class="row">
      <li class="col-4"><button class="btn-primary">Basics</button></li>
     
      <li class="col-4"><button class= "btn-warning">Arrays</button></li>

      <li class="col-4"><button class="btn-primary">Strings</button></li>

      <!-- <li ><button class="btn-warning">LinkedList</button></li>

      <li><button class="btn-primary">Trees</button></li> -->
    </ul>
  </nav>
</section>

