<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand mb-0 h1" href="#">CodeVilla</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="nav collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="nav navbar-nav">
        <li class="nav-item ">
          <a class="nav-link">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item" (click) = "goToSignup()">
            <a class="nav-link">SignUp</a>
        </li>
        <li class="nav-item" (click) = "goToLogin()">
            <a class="nav-link">Login</a>
        </li>

        
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>