
<meta name="viewport" content="width=device-width, initial-scale=1">
<form [formGroup] = "registrationForm">
  <div class="container">
    <div class="signup">
      <div class="row">
        <div class="col-25">
          <label for="firstname"><Strong>First Name</Strong></label>
        </div>

          <div class="col-75">
            <input type="text" placeholder="First Name" name="firstname" formControlName = "firstname" required><br><br>
          </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="lastname"><Strong>Last Name</Strong></label>
        </div>

          <div class="col-75">
            <input type="text" placeholder="Last Name" name="lastname" formControlName = "lastname" required><br><br>
          </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="email"><b>Email</b></label>
        </div>

        <div class="col-75">
          <input type="text" placeholder="Enter Email" name="email" formControlName = "email" required><br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="password"><b>Password</b></label>
      </div>

        <div class="col-75">
          <input type="password" placeholder="Enter Password" name="password" formControlName = "password" required><br><br>
        </div>
    </div>

      <div class="row">
        <div class="col-25">
          <label for="repassword"><b>Repeat Password</b></label>
        </div>

          <div class="col-75">
            <input type="password" placeholder="Repeat Password" name="repassword" formControlName = "repassword" required><br><br>
          </div>
      </div>
    
    
  <div>
      <button routerLink="/login" type="submit" class="btn btn-success" (click) = "registerUser()">Register</button>
  </div>
      <div style="text-align: center">
          
            <h6>Already have an account? <a href="login">Sign in</a></h6>
      </div>
    </div>
  </div>
</form>

