<meta name="viewport" content="width=device-width, initial-scale=1">

  <form [formGroup] = "forgot">
      <div class="container">
        <label for="email"><Strong>Email</Strong></label>
        <input type="text" placeholder="Email" name="email" formControlName = "email" required>

        <button routerLink="" type="submit" class="btn btn-lg-primary" (click) = "forgotPassword()">Next</button>

        <div class="form-group text-center">
            <img src="../assets/images/googlebtn.png" alt="" srcset=""
              (click)="googleLogin()" style="cursor: pointer;">
          </div>
      </div>
  </form>
