<form [formGroup]="addTypeForm">
<label for="list">Select Type</label>  
<select id="dropdown" name="list" formControlName = "typeList" (click) = "onRowClick()">
  <option  *ngFor = "let value of typeArr" >
    {{value.type}}
  </option>
</select> <br>
If You not found the desire Type then add manually.
<label for="Insert">Insert New Type</label>
  <input type="text" name="insert" formControlName = "insertNew">
  <button (click)="addTypeFun()">add</button> <br>
</form>

<br>

<div class="container">
  <form [formGroup] = quesolution>
  <label for="question">Question</label>
  <input type="text" formControlName="question"> <br>
  <label for="solution">solution</label>
  <input type="text" formControlName="solution"> <br>
  <button (click)="addQueSolFun()">submit</button>
  </form>
</div>